<header>
  <h2>Listing project members</h2>

  <ul class="inline">
    <li><%= link_to fa('arrow-left').concat(' Back'), current_project %></li>
    <li><%= link_to fa('plus').concat(' New member'), new_project_membership_path(current_project) %></li>
  </ul>
</header>

<% if @memberships.any? %>
  <ul>
    <% @memberships.each do |membership| %>
      <li>
        <%= membership.user.name %>
        &mdash;
        <%= destroy_link fa('trash-o'), project_membership_path(current_project, membership) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No members.</p>
<% end %>