<%= flash_alerts %>

<header>
  <h1>Listing project members</h1>

  <ul class="inline">
    <li><%= link_to fa('plus').concat(' New member'), new_project_membership_path(current_project) %></li>
  </ul>
</header>

<% if @memberships.any? %>
  <ul>
    <% @memberships.each do |membership| %>
      <li>
        <%= membership.user.name %>

        <span class="hover">
          &mdash;
          <%= destroy_link fa('trash-o'), project_membership_path(current_project, membership) %>
        </span>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No members.</p>
<% end %>