.alert {
  background: $BLUE;
  color: #fff;
  padding: 1em 1.618em;
  
  &.red,
  &.error {
    background: $RED;
  }

  &.orange {
    background: $ORANGE;
  }

  &.notice,
  &.yellow {
    background: $YELLOW;
  }

  &.yellow {
    background: $YELLOW;
  }

  &.green {
    background: $GREEN;
  }

  &.aqua,
  &.success {
    background: $AQUA;
  }

  &.purple {
    background: $PURPLE;
  }
}