.alert {
  color: #fff;
  background: #8bf;
  padding: 1em 1.618em;
  // width: 100%;

  &.error {
    color: #fff;
    background: #f88;
  }

  &.notice {
    color: #fff;
    background: #ec5;
  }

  &.success {
    color: #fff;
    background: #6dc;
  }
}