body {
  color: #000006;
  font: 16px "Proxima Nova";
}

address,
article,
aside,
audio,
blockquote,
body,
canvas,
dd,
div,
dl,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
noscript,
ol,
output,
p,
pre,
section,
table,
tfoot,
ul,
video {
  margin: 0;
  padding: 0;
}

.inline {
  display: inline-block;
}

ul,
ol {
  &.inline {
    padding-left: 0;
    margin-bottom: 0;

    li {
      @extend .inline;
    }

    li + li {
      margin-left: 1em;
    }
  }
}

a {
  color: #99999f;
  
  @include transition(color .1s);

  &:hover {
    color: inherit;
  }
}

pre,
code {
  font: .8em/1.4 Monaco;
}

p code {
  background: #fffff0;
}

.truncate {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.short {
    width: 16em;
  }

  &.long {
    max-width: 32em;
  }
}

.float-right {
  float: right;
}

.no-margin {
  margin: 0 !important;
}

footer {
  border-top: 1px solid #f8f8ff;
  font-size: .9em;
  padding: 1.618em 0;
  text-align: center;
}
