body {
  color: #222228;
  font: 16px Helvetica Neue, Helvetica, Arial;
}

address,
article,
aside,
audio,
blockquote,
body,
canvas,
dd,
div,
dl,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
noscript,
ol,
output,
p,
pre,
section,
table,
tfoot,
ul,
video {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 200;
}

a {
  color: #88888e;
  
  @include transition(color .1s);

  &:hover {
    color: inherit;
  }
}

cite {
  font-style: normal;
  font-size: .9em;
  color: #66666c;
}

pre,
code {
  font: .8em/1.4 Monaco;
}

p code {
  background: #fcf2b2;
}

footer {
  border-top: 1px solid #f4f4fa;
  font-size: .9em;
  padding: 1.618em 0;
  text-align: center;
}

.truncate {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.short {
    max-width: 16em;
  }

  &.long {
    max-width: 32em;
  }
}

.pull-right {
  float: right;
}

.no-margin {
  margin: 0 !important;
}

.inline {
  display: inline-block;
}

ul,
ol {
  &.inline {
    padding-left: 0;
    margin-bottom: 0;

    li {
      @extend .inline;
    }

    li + li {
      margin-left: 1em;
    }
  }
}