
// Grays, from dark to bright
//
// #222228
// #66666c
// #99999f
// #ccccd2
// #dddde3
// #f4f4fa

// Palette
//
$RED:    #EF707D;
$ORANGE: #FFC470;
$YELLOW: #FFE77D;
$GREEN:  #3AC48A;
$AQUA:   #5BE7CB;
$BLUE:   #3BC3E5;
$PURPLE: #BD88E5;

$DARK-RED:    #8A4148;
$DARK-ORANGE: #947141;
$DARK-YELLOW: #948648;
$DARK-GREEN:  #22714F;
$DARK-AQUA:   #358676;
$DARK-BLUE:   #227185;
$DARK-PURPLE: #6E4F85;

$LIGHT-RED:    #FAD7DA;
$LIGHT-ORANGE: #FFEED7;
$LIGHT-YELLOW: #FFF8DA;
$LIGHT-GREEN:  #C8EEDE;
$LIGHT-AQUA:   #D1F8F0;
$LIGHT-BLUE:   #C8EEF8;
$LIGHT-PURPLE: #EDDEF8;
