$all-button-inputs: 'input[type="button"], input[type="submit"], input[type="reset"]';

form {
  .row {
    margin-bottom: 1em;

    label {
      color: #99999f;
      display: block;
      font-size: .9em;
      margin-bottom: .20225em;

      &.item {
        font-weight: inherit;
        font-size: inherit;
        text-transform: none;
      }

      &.inline {
        display: inline-block;
        margin-right: 1em;
      }
    }
  }
}

select,
textarea,
#{$all-text-inputs} {
  background: #fff;
  border: 1px solid #ccccd2;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: inset 0 1px 4px rgba(#000, .1);
  color: #88888e;
  font-size: .9em;
  max-width: 100%;
  padding: .5em;
  width: 100%;

  @include appearance(none);

  &:focus {
    border-color: #88888e;
    color: inherit;
    outline: none;
  }
}

textarea {
  line-height: 1.4; 
}

button,
#{$all-button-inputs} {
  &.button {
    border: 0;

    @include appearance(none);
    @extend .button;
  }
}
