$all-button-inputs: 'input[type="button"], input[type="submit"], input[type="reset"]';

form {
  .row {
    margin-bottom: 1em;

    label {
      color: #aaaaaf;
      display: block;
      font-size: .8em;
      text-transform: uppercase;
    }
  }
}

select,
textarea,
#{$all-text-inputs} {
  background: #fff;
  border: 1px solid #dddddf;
  border-radius: 2px;
  box-sizing: border-box;
  color: #aaaaaf;
  font-size: 1em;
  padding: .4045em;
  width: 100%;
  max-width: 100%;

  @include appearance(none);

  &:focus {
    outline: none;
    border-color: #aaaaaf;
    color: inherit;
  }
}

button,
#{$all-button-inputs} {
  &.button {
    border: 0;

    @include appearance(none);
    @extend .button;
  }
}

textarea.markdown {
  @extend code;
}