main {
  padding: 1.618em;

  a {
    border-bottom: 1px dotted;
  }

  h1 {
    font-size: 1.82025em
  }

  h2 {
    font-size: 1.618em
  }

  h3 {
    font-size: 1.41575em
  }

  h4 {
    font-size: 1.2135em
  }

  form,
  table,
  aside,
  header,
  footer,
  article {
    margin-bottom: 1.618em;
  }

  p,
  ul,
  ol,
  dl,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  blockquote {
    margin-bottom: 1rem;
  }

  header {

    & > :first-child {
      margin-right: 1.618em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: inline-block;
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    padding-left: 2em;
  }

  li > ul,
  li + li {
    margin-top: .4em;
    margin-bottom: 0;
  }

  blockquote {
    padding: .809em;
    background: #f4f4fa;

    @include clearfix;

    img {
      border-radius: 50%;
      margin-bottom: .4em;
      display: block;
    }

    cite {
    }
  }  

  .alert {
    margin-bottom: 1em;
  }
}