span.tag {
  background: #ccccd2;
  font-size: .8em;
  font-weight: 500;
  border-radius: 2px;
  color: #fff;
  padding: 1px 3px;
  
  &.red {
    background: $red;
  }

  &.orange {
    background: $orange;
  }

  &.yellow {
    background: $yellow;
  }

  &.yellow {
    background: $yellow;
  }

  &.green {
    background: $green;
  }

  &.aqua {
    background: $aqua;
  }

  &.blue {
    background: $blue;
  }

  &.purple {
    background: $purple;
  }
}