span.tag {
  background: #ccccd2;
  font-size: .8rem;
  font-weight: 500;
  border-radius: 1em;
  color: #fff;
  padding: 2px 8px;
  
  &.red {
    background: $RED;
  }

  &.orange {
    background: $ORANGE;
  }

  &.yellow {
    background: $YELLOW;
  }

  &.yellow {
    background: $YELLOW;
  }

  &.green {
    background: $GREEN;
  }

  &.aqua {
    background: $AQUA;
  }

  &.blue {
    background: $BLUE;
  }

  &.purple {
    background: $PURPLE;
  }
}