.topbar {
  background: #f4f4fa;
  padding: 1em 1.618em; 
  font-weight: 200;

  a {
    text-decoration: none;
  }

  h1,
  h2,
  ul {
    display: inline-block;
  }

  h1,
  h2 {
    font-size: 1em;
  }

  ul {
    @extend ul.inline;
  }

  h1 a {
  }

  h2 {
    margin: -1em 1.618em;

    a {
      background: $AQUA;
      padding: 1em 1.618em;
      color: #fff;
      
      @include transition(box-shadow .1s);

      &:hover {
        // box-shadow: inset 0 0 0 1px rgba(#000, .16);
      }
    }
  }

  img {
    border-radius: 50%;
    display: inline-block;
    margin-top: -6px; 
    vertical-align: -60%;
  }
}