<header>
  <h1>Editting user</h1>

  <ul class="inline">
    <li><%= link_to fa('arrow-left').concat(' Back'), next_path %></li>
    <li><%= destroy_link fa('trash-o').concat(' Delete'), @user %></li>
  </ul>
</header>

<%= render 'form' %>
