<header>
  <h1>New time record</h1>

  <ul class="inline">
    <li>
      <%= link_to fa('arrow-left').concat(' Back'), project_time_records_path(current_project) %>
    </li>
  </ul>
</header>

<%= render 'form' %>
