<header>
  <h2>Editing project</h2>

  <ul class="inline">
    <li><%= link_to fa('arrow-left').concat(' Back'), projects_path %></li>
    <li><%= link_to fa('users').concat(' Members'), project_memberships_path(@project) %></li>
    <li><%= link_to fa('tags').concat(' Statuses'), project_statuses_path(@project) %></li>
  </ul>
</header>

<%= render 'form' %>
