<header>
  <h2>Listing projects</h2>
  <%= link_to fa('plus').concat(' New project'), new_project_path %>
</header>

<% if @projects.any? %>
<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project %>
    </li>
  <% end %>
</ul>
<% else %>
  <p>No projects.</p>
<% end %>