<header>
  <h1>Summary</h1>

  <% if current_project.manager == current_user %>
    <ul class="inline">
      <li><%= link_to fa('tags').concat(' Entry statuses'), project_statuses_path(@project) %></li>
      <li><%= link_to fa('pencil').concat(' Edit'), edit_project_path(current_project) %></li>
      <li><%= destroy_link fa('trash-o').concat(' Delete'), current_project %></li>
    </ul>
  <% end %>
</header>

<% if @project.entries.any? %>
<div class="chart-bar">
  <% @project.statuses.each do |status| %>
    <% n = status.entries.count %>
    <%= content_tag :div, nil, :class => "#{status.color} tipped", :data => {:amount => n}, :title => "#{n} #{status.name}" %>
  <% end %>
</div>
<% else %>
  <p>No summary to display.</p>
<% end %>